In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('DS1_C4_S4_Car_Prices_Data_Challenge (1).csv')
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Display 5 low priced cars from 2014

In [6]:
cars1=data[(data.year==2014)]
cars1

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,3.4,14943.0,black,black,the hertz corporation,69000,65000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,4.2,9557.0,white,black,audi mission viejo,32100,32250,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558814,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg3eh324197,va,4.3,20485.0,white,black,hertz corporation/gdp,16350,16100,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg9eh324236,va,4.2,22744.0,white,black,hertz corporation/gdp,16250,15900,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [7]:
cars1a=cars1.groupby(by=['year','model'])['sellingprice'].mean()
cars1a

year  model
2014  1500        26381.699301
      2 Series    37497.368421
      200         11840.521064
      2500        38420.322940
      3 Series    32772.956522
                      ...
      regal       17366.666667
      routan      21400.000000
      tC          15791.228070
      xB          15015.384615
      xD          13027.083333
Name: sellingprice, Length: 325, dtype: float64

In [8]:
cars1a.sort_values(ascending=True)

year  model
2014  Spark            8380.871212
      fortwo           8620.000000
      Mirage           8876.785714
      Versa            9662.449794
      Mazda2          10101.898734
                         ...
      Range Rover     99911.111111
      RS 7           102225.000000
      G-Class        109138.235294
      Flying Spur    154000.000000
      i8             154222.222222
Name: sellingprice, Length: 325, dtype: float64

In [9]:
print("The lowest selling models are Spark, Fortwo, Mirage, Versa, and Mazda2")

The lowest selling models are Spark, Fortwo, Mirage, Versa, and Mazda2

Compare selling price of BMW's from 2010 to 2015

In [10]:
cars2=data[(data.condition > 4.5)& (data.make=='BMW')& (data.year==2010)]
cars2

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
43927,2010,BMW,3 Series,328i,Coupe,automatic,wbawb3c50ap481760,fl,4.8,65307.0,white,beige,hyundai of new port richey,14200,16000,Tue Dec 23 2014 14:00:00 GMT-0800 (PST)
70751,2010,BMW,3 Series,328i,Sedan,NaN,wbaph7g55anm48382,pa,4.6,51645.0,blue,black,classic chevrolet bmw,14500,14600,Fri Jan 02 2015 09:00:00 GMT-0800 (PST)
114558,2010,BMW,6 Series,650i,Convertible,automatic,wbaeb5c57ac225968,pa,5.0,33405.0,white,tan,bobby rahal bmw of south hills,34600,35600,Wed Jan 14 2015 01:00:00 GMT-0800 (PST)
114559,2010,BMW,3 Series,328i xDrive,Sedan,NaN,wbapk5c52aa651832,pa,4.6,45336.0,burgundy,beige,charles & son auto sls inc,15300,17100,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
126368,2010,BMW,M3,Base,Coupe,automatic,wbswd9c57ap363049,fl,4.6,53470.0,blue,black,tdaf remarketing,33000,34600,Tue Jan 20 2015 01:00:00 GMT-0800 (PST)
135141,2010,BMW,X5,xDrive35d,SUV,NaN,5uxff0c50alt75241,pa,4.7,20227.0,white,tan,r hollenshead auto sales inc,25900,29500,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
153657,2010,BMW,3 Series,335d,Sedan,NaN,wbapn7c55aa778092,pa,4.8,74836.0,silver,black,adcock brothers inc,14900,17000,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
153661,2010,BMW,7 Series,750i xDrive,Sedan,automatic,wbakc6c5xac393660,il,5.0,68571.0,blue,beige,manheim atlanta,26200,19200,Tue Jan 20 2015 02:00:00 GMT-0800 (PST)
194514,2010,BMW,5 Series,535i,Sedan,automatic,wbanw1c5xac164564,fl,4.6,68508.0,white,brown,lauderdale infiniti,16900,17500,Fri Jan 30 2015 01:35:00 GMT-0800 (PST)
226562,2010,BMW,7 Series,750Li,Sedan,automatic,wbakb8c50acy62947,ga,4.6,65725.0,white,beige,kern automotive group inc,28100,31200,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
251236,2010,BMW,3 Series,328i,Convertible,automatic,wbawr3c51ap463067,ca,4.6,88511.0,gold,beige,aaero sweet company,14950,16750,Wed Feb 11 2015 04:00:00 GMT-0800 (PST)
251237,2010,BMW,X3,xDrive30i,SUV,NaN,wbxpc9c45awj38630,on,4.7,93026.0,black,black,bmw group financial services canada,14700,15200,Tue Feb 10 2015 02:00:00 GMT-0800 (PST)
258240,2010,BMW,5 Series,528i,Sedan,automatic,wbanu5c5xac366057,fl,5.0,46212.0,white,tan,lauderdale imports ltd bmw pembrok pines,16700,18400,Fri Feb 06 2015 01:35:00 GMT-0800 (PST)
268772,2010,BMW,5 Series,535i xDrive,Sedan,automatic,wbanv9c57ac139106,nj,4.6,12736.0,gray,black,bmw na manheim new jersey,21500,24500,Tue Feb 10 2015 06:00:00 GMT-0800 (PST)
286525,2010,BMW,X6,xDrive35i,SUV,automatic,5uxfg4c51al225627,tx,4.7,83007.0,black,gray,cotroneo auto group,27500,26500,Wed Feb 11 2015 02:20:00 GMT-0800 (PST)
295993,2010,BMW,3 Series,335i,Coupe,automatic,wbawb7c5xap048454,tx,4.8,77020.0,silver,black,d&m leasing,18200,17500,Wed Feb 25 2015 02:15:00 GMT-0800 (PST)
311181,2010,BMW,X3,xDrive30i,SUV,NaN,wbxpc9c44awj35234,pa,5.0,46726.0,black,beige,royal coast auto inc,19750,23000,Fri Feb 13 2015 01:00:00 GMT-0800 (PST)
319380,2010,BMW,X5,xDrive48i,SUV,automatic,5uxfe8c59al310700,fl,4.8,79680.0,black,brown,kelley buick gmc inc,20400,20300,Wed Feb 18 2015 01:35:00 GMT-0800 (PST)
362944,2010,BMW,1 Series,135i,Convertible,automatic,wbaun9c51avk41792,fl,4.8,44570.0,blue,black,cire leasing,19050,20000,Tue May 19 2015 02:15:00 GMT-0700 (PDT)
366055,2010,BMW,1 Series,135i,Coupe,automatic,wbauc7c59avk96016,ca,4.6,48652.0,silver,black,commonwealth audi volkswagen,17450,19750,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
371048,2010,BMW,3 Series,328i,Coupe,automatic,wbawb3c50ap481760,fl,4.7,65323.0,white,beige,ed morse auto plaza,15700,17300,Thu Feb 26 2015 01:40:00 GMT-0800 (PST)
371057,2010,BMW,5 Series Gran Turismo,550i,Hatchback,automatic,wbasn4c56ac208759,ca,4.9,41521.0,silver,black,trade in solutions irvine,24600,24500,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
374847,2010,BMW,6 Series,650i,Coupe,automatic,wbaea5c53acv92918,pa,4.9,25589.0,black,black,r hollenshead auto sales inc,33100,34250,Fri Feb 27 2015 01:00:00 GMT-0800 (PST)
387768,2010,BMW,5 Series,535i xDrive,Sedan,automatic,wbanv9c5xac136460,pa,4.8,69619.0,blue,beige,daniels bmw mini of allentown,17750,17700,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
390602,2010,BMW,M3,Base,Coupe,automatic,wbswd9c58ap362654,mo,4.6,53435.0,red,black,arch auto sales,31900,34000,Tue Mar 03 2015 03:00:00 GMT-0800 (PST)
390606,2010,BMW,1 Series,135i,Convertible,automatic,wbaun9c57avk41425,fl,4.7,24332.0,white,black,american bank auto liquidators,20400,21200,Tue Mar 03 2015 01:15:00 GMT-0800 (PST)
395930,2010,BMW,3 Series,328i,Sedan,automatic,wbaph7g55anm51248,fl,4.6,45438.0,white,tan,crown buick gmc,14600,16100,Thu Mar 05 2015 01:50:00 GMT-0800 (PST)
395932,2010,BMW,3 Series,328i,Convertible,automatic,wbawl1c55ap492304,fl,4.7,13014.0,blue,beige,braman motorcars,22900,20000,Thu Mar 05 2015 01:40:00 GMT-0800 (PST)
400353,2010,BMW,7 Series,750Li xDrive,Sedan,NaN,wbakc8c54ac430746,pa,4.7,63992.0,blue,beige,i g burton & co inc,28200,29400,Fri Mar 06 2015 01:15:00 GMT-0800 (PST)
448066,2010,BMW,X5,xDrive35d,SUV,automatic,5uxff0c55alt77390,ca,4.8,22282.0,gray,black,nova auto sales inc,25300,27500,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
461632,2010,BMW,5 Series,550i,Sedan,automatic,wbanw5c54act57266,tx,4.9,31710.0,black,beige,ge fleet services for itself/servicer,23200,23100,Thu May 28 2015 04:00:00 GMT-0700 (PDT)
472842,2010,BMW,M3,Base,coupe,automatic,wbswd9c58ap363268,ca,4.8,7461.0,gray,brown,south bay bmw,41400,41250,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
480863,2010,BMW,3 Series,335i xDrive,sedan,NaN,wbapl3c54aa408847,pa,4.6,63433.0,white,black,alans autos,18650,20100,Fri May 29 2015 02:00:00 GMT-0700 (PDT)
492702,2010,BMW,5 Series,528i xDrive,sedan,automatic,wbanv1c51ac156615,ma,4.7,82218.0,gray,black,boch toyota/scion south,14800,15200,Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
501481,2010,BMW,X5 M,Base,suv,automatic,5ymgy0c51alk25520,fl,4.7,46869.0,white,black,braman motorcars,37500,39400,Thu Jun 04 2015 02:40:00 GMT-0700 (PDT)
552383,2010,BMW,6 Series,650i,coupe,automatic,wbaea5c55acv93052,fl,4.9,48165.0,black,black,braman honda of palm beach,29400,33400,Wed Jun 17 2015 02:40:00 GMT-0700 (PDT)

In [11]:
avg2010 = cars2.sellingprice.mean()
avg2010

23572.222222222223

In [12]:
cars2a=data[(data.condition > 4.5)& (data.make=='BMW')& (data.year==2015)]
cars2a

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
7876,2015,BMW,M4,Base,Coupe,automatic,wbs3r9c53fk329392,oh,5.0,3780.0,white,black,international motor car company,67000,64000,Thu Jan 15 2015 02:05:00 GMT-0800 (PST)
43585,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy26418,fl,4.9,4127.0,white,red,ebenzz motors,32200,34300,Tue Dec 23 2014 09:30:00 GMT-0800 (PST)
56898,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy24992,oh,4.9,10824.0,â€”,black,bmw north america greer,30900,29750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56900,2015,BMW,X1,xDrive35i,SUV,automatic,wbavm5c51fvv93813,oh,5.0,5360.0,beige,beige,bmw north america greer,33200,32750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56902,2015,BMW,X1,xDrive35i,SUV,automatic,wbavm5c59fvv94093,oh,5.0,5235.0,gray,beige,bmw north america greer,33200,34000,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548650,2015,BMW,X5,xDrive50i,suv,automatic,5uxkr6c53f0j76217,oh,5.0,4834.0,gray,black,bmw na manheim new jersey,65000,64000,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
548652,2015,BMW,2 Series,M235i,coupe,manual,wba1j7c57fv288951,oh,4.7,10964.0,gray,black,bmw north america greer,41600,40750,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
549682,2015,BMW,3 Series,320i,sedan,automatic,wba3b1c51fk136801,ga,5.0,1645.0,gray,black,"clutch georgia, llc",29700,28900,Thu Jun 18 2015 03:00:00 GMT-0700 (PDT)
549683,2015,BMW,3 Series,328i,sedan,automatic,wba3a5c56ff606212,wa,4.9,22498.0,white,beige,sixt rent a car llc,32200,27000,Wed Jun 17 2015 06:30:00 GMT-0700 (PDT)
557843,2015,BMW,M4,Base,coupe,automatic,wbs3r9c52fk329996,ca,4.6,7118.0,blue,black,costa mesa nissan,67000,67500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)

In [13]:
avg2015 = cars2a.sellingprice.mean()
avg2015

42994.68599033816

In [ ]:
#Percentages are compared? In what way?

In [14]:
increase=avg2015-avg2010
increase

19422.46376811594

In [52]:
percent_increase=increase/avg2010*100
percent_increase

82.39555687628727

In [15]:
print("The percentage of cars increased by 82%")

The percentage of cars increased by 82%

### Determine the difference between average wholesale prices of cars with black and gray interiors

In [16]:
black=data[(data.color=='black')]
black

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,3.4,14943.0,black,black,the hertz corporation,69000,65000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
10,2014,Audi,A6,3.0T Prestige quattro,Sedan,automatic,wauhgafc0en062916,ca,4.8,14414.0,black,black,desert auto trade,47300,49750,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
15,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap5fc124223,ca,2.0,11398.0,black,black,enterprise vehicle exchange / tra / rental / t...,14750,14100,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
18,2014,Chevrolet,Camaro,LS,Coupe,automatic,2g1fa1e39e9134494,ca,1.7,13441.0,black,black,wells fargo dealer services,17750,17000,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558807,2014,Mercedes-Benz,E-Class,E63 AMG 4MATIC,Sedan,automatic,wddhf9cb9ea917688,ca,4.5,17518.0,black,black,the hertz corporation,64000,69500,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558813,2006,Chrysler,300,C,sedan,automatic,2c3ka63h46h281500,ca,2.8,57280.0,black,beige,gulliver,9400,11750,Wed Jul 08 2015 09:45:00 GMT-0700 (PDT)
558816,2013,Mercedes-Benz,G-Class,G63 AMG,suv,automatic,wdcyc7df4dx207385,fl,5.0,26799.0,black,black,fields bmw,104000,105000,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)
558818,2013,Chevrolet,Silverado 1500,LT,crew cab,automatic,3gcpcse0xdg244430,tx,4.3,74575.0,black,black,stanley chevrolet buick gmc gatesville,22100,22000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)

In [17]:
avgblack= black.sellingprice.mean()
avgblack

15508.880891019518

In [18]:
gray=data[(data.color=='gray')]
gray

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350,10900,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
23,2015,Audi,A3,1.8 TFSI Premium,Sedan,automatic,wauacgff7f1002327,ca,4.9,5826.0,gray,black,audi north scottsdale,24000,23750,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
28,2014,BMW,X5,sDrive35i,SUV,automatic,5uxkr2c52e0h33130,ca,NaN,11278.0,gray,black,avis rac/san leandro,50400,34000,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558810,2013,Honda,Civic,LX PZEV,Sedan,automatic,2hgfb2f54dh585400,ga,1.9,32117.0,gray,black,"ahfc/honda lease trust/hvt, inc.",12250,10000,Tue Jul 07 2015 09:50:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Limited,Sedan,NaN,5npdh4ae7ch106397,pa,4.0,66720.0,gray,gray,champion mazda,10250,10400,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [19]:
avggray= gray.sellingprice.mean()
avggray

13951.159594496741

In [20]:
difference=avgblack-avggray
print("The difference of wholesale prices between black and gray interiors is", difference)

The difference of wholesale prices between black and gray interiors is 1557.7212965227773

### Find models manufactured between 2013 and 2015

In [21]:
cars4=data[(data.year >=2013) & (data.year <= 2015)]
cars4

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [22]:
pd.crosstab(cars4.make, cars4.color, rownames=['Manufacturer'], colnames=['Color'], margins=True)

Color,beige,black,blue,brown,burgundy,charcoal,gold,gray,green,lime,...,orange,pink,purple,red,silver,turquoise,white,yellow,â€”,All
Manufacturer,,,,,,,,,,,,,,,,,,,,,
Acura,0,170,19,5,20,2,0,107,1,0,...,0,0,1,8,61,0,98,0,3,498
Audi,2,402,78,10,1,0,1,181,0,0,...,0,0,0,29,183,0,313,0,85,1285
BMW,34,1235,252,99,1,1,8,710,4,0,...,14,0,1,139,190,0,1101,0,297,4088
Bentley,0,5,3,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,2,13
Buick,21,157,55,25,12,1,19,189,0,0,...,0,0,6,75,235,0,308,0,13,1127
Cadillac,55,298,36,12,2,0,50,85,1,0,...,0,12,1,48,196,0,141,0,13,961
Chevrolet,421,3570,1582,153,167,36,354,2933,160,1,...,52,13,25,2154,4474,1,5143,75,343,21681
Chrysler,175,1599,848,56,232,18,334,1343,2,0,...,0,0,0,788,860,0,1657,0,183,8099
Dodge,129,2412,1722,15,100,40,311,2304,16,1,...,135,1,14,1530,1251,1,2601,3,300,12904
FIAT,7,123,37,12,0,9,0,91,55,0,...,7,0,0,88,45,0,116,23,17,630
Ford,55,7102,2209,550,444,12,70,5076,848,2,...,162,0,36,4474,5101,13,9969,18,6465,42693
GMC,39,438,91,31,30,5,37,214,8,0,...,0,0,2,127,338,0,1150,0,29,2545
Honda,25,859,363,137,156,2,28,859,15,0,...,3,0,14,173,513,3,600,0,60,3820
Hyundai,129,1666,1502,324,83,4,95,1835,32,1,...,48,0,10,1227,2059,0,1736,10,186,10961
Infiniti,3,1424,300,20,49,0,1,1452,35,0,...,0,0,32,101,371,0,1098,0,351,5251
Jaguar,0,47,13,0,2,1,0,8,3,0,...,0,0,0,13,14,0,38,0,8,147
Jeep,34,1105,338,45,91,14,28,813,66,3,...,59,0,1,504,365,1,912,21,108,4509
Kia,97,1964,571,495,429,2,29,1706,288,0,...,0,0,87,969,1754,0,2027,89,161,10698
Land Rover,3,134,10,8,1,0,1,45,4,0,...,1,0,0,8,21,0,116,0,10,362
Lexus,37,798,114,74,41,12,60,426,0,0,...,0,0,5,166,420,0,515,0,84,2780
Lincoln,13,443,51,61,29,1,6,177,19,0,...,3,0,4,181,192,0,287,0,571,2068
MINI,5,84,119,17,0,0,1,47,54,0,...,6,0,0,111,31,0,144,1,27,657
Maserati,0,10,3,2,0,0,0,2,0,0,...,0,0,0,1,3,0,8,0,2,31
Mazda,1,517,231,4,13,9,1,821,74,0,...,1,0,0,325,228,3,392,0,47,2670
Mercedes-Benz,0,1410,73,5,1,1,0,538,2,0,...,0,0,2,132,401,0,971,0,685,4221
Mitsubishi,25,246,148,22,4,0,0,205,18,0,...,3,3,4,119,217,2,280,0,83,1379
Nissan,170,3357,1015,298,316,6,62,2953,16,0,...,2,0,126,1409,2704,5,3683,4,1796,17976
Porsche,0,115,32,19,0,0,0,47,1,0,...,0,0,1,29,26,0,85,4,7,366
Ram,2,567,164,52,39,1,2,271,5,0,...,26,0,0,350,325,0,815,0,49,2668
Rolls-Royce,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Scion,2,79,44,4,8,0,0,79,0,0,...,12,0,4,58,51,0,80,0,9,433
Subaru,52,157,492,22,40,2,43,370,118,0,...,18,0,3,207,334,0,421,1,60,2345
Suzuki,2,4,8,3,0,0,0,10,0,0,...,0,0,0,2,9,0,14,0,0,52
Tesla,0,5,1,0,0,0,0,8,1,0,...,0,0,0,2,2,0,3,0,1,23
Toyota,93,2074,796,51,103,7,153,2634,250,0,...,28,0,13,1393,2437,6,2357,1,351,12751
Volkswagen,44,685,338,30,69,0,38,739,0,0,...,0,0,4,242,549,0,605,9,354,3707
Volvo,11,226,65,10,3,1,12,164,0,0,...,3,0,1,23,154,0,219,0,22,916
buick,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,3
chevrolet,0,0,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3
dodge,0,15,6,0,0,0,0,3,0,0,...,0,0,0,1,4,0,12,0,0,41
jeep,0,11,3,0,0,0,0,1,0,0,...,0,0,0,4,0,0,8,0,0,27
land rover,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
lincoln,0,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,18
nissan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
smart,0,31,9,1,0,0,0,13,0,0,...,0,0,0,18,23,0,30,3,5,133
volkswagen,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,4
vw,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,10,13
All,1686,35563,13744,2672,2486,187,1744,29464,2096,8,...,583,29,397,17230,26143,35,40055,262,12801,187560

In [23]:
print("The color of cars people drive the most is white.")

The color of cars people drive the most is white.

### Find the Total Sale of SUV's on Fri 12/9 and Thur 1/15. Find the % increase or decrease during this period.

In [24]:
from datetime import date

In [36]:
data5=pd.DataFrame({
'body':['SUV'],
'saledate':['Thu Jan 15, 2015, 04:30:00 GMT-0800 (PST)']    
})
data['saledate']=pd.to_datetime(data['saledate'])
data

  body                  saledate
0  SUV 2014-12-19 09:00:00+08:00

In [37]:
data5a=pd.DataFrame({
'body':['SUV'],
'saledate':['Fri Dec 19, 2014, 09:00:00 GMT-0800']    
})
data['saledate']=pd.to_datetime(data['saledate'])
data

  body                  saledate
0  SUV 2014-12-19 09:00:00+08:00

###  Add new column "Discounted Price" next to "Selling Price" and calculate 10% for Chevy & Ford and 20% for all other car manuafcturers.

In [6]:
import numpy as np
data.insert(14, 'discounted_price',np.nan)
data.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,discounted_price,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,NaN,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,NaN,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,NaN,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,NaN,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,NaN,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [7]:
data6=data[(data.make=='Chevrolet')]
data6

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,discounted_price,sellingprice,saledate
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,NaN,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300,NaN,17500,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)
14,2014,Chevrolet,Cruze,2LT,Sedan,automatic,1g1pe5sbxe7120097,ca,NaN,15686.0,blue,black,avis rac/san leandro,13900,NaN,10600,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
18,2014,Chevrolet,Camaro,LS,Coupe,automatic,2g1fa1e39e9134494,ca,1.7,13441.0,black,black,wells fargo dealer services,17750,NaN,17000,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
20,2015,Chevrolet,Impala,LTZ,Sedan,automatic,2g1165s30f9103921,ca,1.9,14538.0,silver,black,enterprise vehicle exchange / tra / rental / t...,24300,NaN,7200,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558764,2002,Chevrolet,Blazer,LS,suv,automatic,1gndt13w02k136383,mo,1.9,141007.0,black,gray,a-1 auto group llc,1300,NaN,2400,Tue Jun 30 2015 08:00:00 GMT-0700 (PDT)
558788,2014,Chevrolet,Silverado 1500,LT,crew cab,NaN,3gcukrec4eg454516,pa,4.9,26294.0,red,black,enterprise veh exchange/rental,30700,NaN,29000,Tue Jul 14 2015 06:30:00 GMT-0700 (PDT)
558792,2011,Chevrolet,HHR,LT,Wagon,automatic,3gnbabfw0bs598638,fl,2.2,76622.0,gray,gray,woodall auto wholesale inc,5775,NaN,7600,Fri Jul 03 2015 06:30:00 GMT-0700 (PDT)
558818,2013,Chevrolet,Silverado 1500,LT,crew cab,automatic,3gcpcse0xdg244430,tx,4.3,74575.0,black,black,stanley chevrolet buick gmc gatesville,22100,NaN,22000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558823,2012,Chevrolet,Silverado 1500,LT,Crew Cab,automatic,3gcpcse00cg289987,tx,3.7,37908.0,white,black,wells fargo dealer services,25000,NaN,23000,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)

In [32]:
#Next Steps: create seperate data frames for each discount then merge together

In [8]:
data7=data[(data.make=='Ford')]
data7

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,discounted_price,sellingprice,saledate
12,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350,NaN,12000,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
94,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0h7xfr151689,ca,1.0,4205.0,white,black,enterprise vehicle exchange / tra / rental / t...,14700,NaN,12000,Wed Dec 17 2014 15:05:00 GMT-0800 (PST)
305,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j98eua23833,mo,4.3,27802.0,green,tan,ford-lincoln dealer program,22800,NaN,230000,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
938,2012,Ford,E-Series Wagon,E-350 Super Duty XL,Van,NaN,1fbss3bl8cdb20464,ca,2.0,42804.0,white,gray,enterprise vehicle exchange / tra / rental / t...,16150,NaN,16000,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
939,2012,Ford,Escape,Limited,SUV,automatic,1fmcu0eg0ckb55384,ca,3.5,45035.0,gray,beige,"ford motor credit company,llc pd",15450,NaN,14100,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558799,2012,Ford,Focus,SE,Hatchback,automatic,1fahp3k24cl249912,tx,2.9,81402.0,â€”,gray,"ford motor credit company,llc",7125,NaN,8800,Tue Jul 07 2015 08:00:00 GMT-0700 (PDT)
558803,2007,Ford,Five Hundred,SEL,sedan,automatic,1fafp24197g115952,pa,2.7,53000.0,gray,beige,daniel thomas sales,4825,NaN,7400,Tue Jul 07 2015 07:00:00 GMT-0700 (PDT)
558817,2012,Ford,Flex,SEL,Wagon,automatic,2fmhk6cc1cbd17905,ny,3.9,28320.0,red,black,"ford motor credit company,llc",21500,NaN,22300,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558821,2012,Ford,Escape,XLT,SUV,automatic,1fmcu9d78ckc84074,fl,3.8,74673.0,white,gray,lehman buick gmc llc,11550,NaN,11400,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,NaN,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [9]:

D8 = pd.concat([data6,data7],ignore_index=True)
D8

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,discounted_price,sellingprice,saledate
0,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,NaN,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
1,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300,NaN,17500,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)
2,2014,Chevrolet,Cruze,2LT,Sedan,automatic,1g1pe5sbxe7120097,ca,NaN,15686.0,blue,black,avis rac/san leandro,13900,NaN,10600,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
3,2014,Chevrolet,Camaro,LS,Coupe,automatic,2g1fa1e39e9134494,ca,1.7,13441.0,black,black,wells fargo dealer services,17750,NaN,17000,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
4,2015,Chevrolet,Impala,LTZ,Sedan,automatic,2g1165s30f9103921,ca,1.9,14538.0,silver,black,enterprise vehicle exchange / tra / rental / t...,24300,NaN,7200,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153746,2012,Ford,Focus,SE,Hatchback,automatic,1fahp3k24cl249912,tx,2.9,81402.0,â€”,gray,"ford motor credit company,llc",7125,NaN,8800,Tue Jul 07 2015 08:00:00 GMT-0700 (PDT)
153747,2007,Ford,Five Hundred,SEL,sedan,automatic,1fafp24197g115952,pa,2.7,53000.0,gray,beige,daniel thomas sales,4825,NaN,7400,Tue Jul 07 2015 07:00:00 GMT-0700 (PDT)
153748,2012,Ford,Flex,SEL,Wagon,automatic,2fmhk6cc1cbd17905,ny,3.9,28320.0,red,black,"ford motor credit company,llc",21500,NaN,22300,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
153749,2012,Ford,Escape,XLT,SUV,automatic,1fmcu9d78ckc84074,fl,3.8,74673.0,white,gray,lehman buick gmc llc,11550,NaN,11400,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
153750,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,NaN,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)